@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

:root {
  --nav-height: 60px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: #1a1a1a;
}

/* Scrollbar area */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Scrollbar area */

#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  height: var(--nav-height);
  background-color: rgb(19, 19, 19);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

#navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

#navbar ul li {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

#navbar ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.8rem;
  transition: 0.3s ease-in-out;
}

#navbar ul li a:hover {
  color: red;
  font-size: 2rem;
}

#welcome-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - var(--nav-height));
}

#welcome-section #hello {
  font-size: 5rem;
  color: aqua;
  font-weight: 700;
}

#welcome-section h1 {
  font-size: 4rem;
  color: #fff;
  margin-bottom: 20px;
}

#welcome-section #author {
  color: rgb(241, 25, 25);
}

#welcome-section #special {
  color: coral;
}

#welcome-section i {
  font-size: 7rem;
  color: #fff;
  margin-bottom: 20px;
  animation: moveI infinite 1s linear;
}

@keyframes moveI {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

#projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #242424;
  padding: 30px 0;
}

#projects h2 {
  font-size: 4rem;
  color: #fff;
  margin-bottom: 25px;
}

#projects .projects-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  gap: 30px;
}

#projects .projects-wrapper .project {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 350px;
  height: 350px;
  background-color: #1a1a1a;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5%;
  cursor: pointer;
  transition: .3s ease-in-out;
}

#projects .projects-wrapper .project:hover {
  transform: scale(1.05);
}

#projects .projects-wrapper .project img {
  width: 100%;
  height: calc(100% - 7rem);
  object-fit: cover;
  border-radius: 5% 5% 0 0;
}

#projects .projects-wrapper .project a {
  margin: auto;
  font-size: 2.3rem;
  color: rgb(168, 168, 168);
  margin-bottom: 20px;
  text-decoration: none;
  transition: .2s ease-in-out;
}

#projects .projects-wrapper .project a:hover {
  color: aqua;
}

#projects button {
  width: 200px;
  height: 50px;
  background-color: brown;
  border: none;
  border-radius: 25px;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
  cursor: pointer;
  transition: .3s ease-in-out;
  margin-top: 40px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#projects button:hover {
  background-color: rgb(141, 20, 20);
}

#projects button i {
  margin-left: 10px;
  font-size: 2.5rem;
}

#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 400px;
}

#contact h2 {
  font-size: 5rem;
  color: #fff;
}

#contact span {
  font-size: 2rem;
  color: rgb(105, 105, 105);
  margin-bottom: 25px;
}

#contact .contact-area {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}

#contact .contact-area .brand {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background-color: #1a1a1a;
  border-radius: 5%;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  transition: .3s ease-in-out;
  margin: 0 20px;
  font-size: 1.8rem;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}

#contact .contact-area .brand:hover {
  background-color: rgb(141, 20, 20);
}

#contact .contact-area .brand i {
  margin-right: 10px;
  font-size: 3rem;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: var(--nav-height);
  background-color: rgb(19, 19, 19);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

footer #fake {
  color: #fff;
  font-size: 1.8rem;
}

footer address {
  color: #fff;
  font-size: 1.8rem;
}

footer address a {
  color: brown;
  font-size: 2rem;
  transition: .3s ease-in-out;
  text-decoration: none;
}

footer address a:hover {
  font-size: 2.2rem;
}

/* Responsive */

@media (max-width: 768px) {
  #welcome-section {
    height: calc(100vh - var(--nav-height));
  }

  #welcome-section #hello {
    font-size: 3.5rem;
  }

  #welcome-section h1 {
    font-size: 2.8rem;
  }

  #welcome-section i {
    font-size: 5rem;
  }

  #projects h2 {
    font-size: 3rem;
  }

  #projects .projects-wrapper {
    grid-template-columns: 1fr;
  }

  #projects .projects-wrapper .project {
    width: 300px;
    height: 300px;
  }

  #projects .projects-wrapper .project img {
    height: calc(100% - 7rem);
  }

  #projects .projects-wrapper .project a {
    font-size: 1.8rem;
  }

  #contact {
    height: 300px;
  }

  #contact h2 {
    font-size: 3rem;
  }

  #contact span {
    font-size: 1.5rem;
  }

  #contact .contact-area .brand {
    padding: 0px 20px;
    font-size: 1.5rem;
  }

  footer {
    padding: 0 30px;
  }

  footer #fake {
    width: 250px;
    font-size: 1.4rem;
  }

  footer address {
    font-size: 1.4rem;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  #projects h2 {
    font-size: 3rem;
  }

  #projects .projects-wrapper {
    grid-template-columns: 1fr 1fr;
  }

  #projects .projects-wrapper .project {
    width: 300px;
    height: 300px;
  }

  #projects .projects-wrapper .project img {
    height: calc(100% - 7rem);
  }

  #projects .projects-wrapper .project a {
    font-size: 1.8rem;
  }

  #contact {
    height: 300px;
  }

  #contact h2 {
    font-size: 3rem;
  }

  #contact span {
    font-size: 1.5rem;
  }

  #contact .contact-area .brand {
    padding: 0px 20px;
    font-size: 1.5rem;
  }

  footer {
    padding: 0 30px;
  }

  footer #fake {
    width: 250px;
    font-size: 1.4rem;
  }

  footer address {
    font-size: 1.4rem;
  }
}